@font-face {
  font-family:"Chalkboard";
  src: url("../media/Chalktastic-r78L.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("../media/phonebox-mobilesize.png");

  background-repeat: no-repeat;
}

.scoreboard {
  border: 5px solid #966F33;
  height: 100px;
  width: 345px;
  text-align: center;
  background-color: #31343a;
  color: aliceblue;
  font-family: "Chalkboard", sans-serif;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.question-card-layout {
  border: 2px solid black;
  border-radius: 10px;
  height: 375px;
  width: 345px;
  text-align: center;
  background-image: url("../media/25235.jpg");
  background-size: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  .card-title {
    font-size: 1.3rem;
  }

  .display {
    color: red;
    font-size: 1.2rem;
  }
}

.questionDisplay{
  display: flex;
  flex-direction: column;
  
}

.questionDisplay-hidden {
  display: none;
}

.category-choice {
  height: auto;
  width: 345px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;


  .category-choice__one, .category-choice__two, .category-choice__three, .category-choice__four{
    border: 1px solid black;
    background-color: yellow;
    margin: 10px;
    border-radius: 5px;
  }

  .category-choice__one--unlit{
    border: 1px solid red;
    background-color: grey;
    margin: 5px;
  }

  .category-choice__two--unlit{
    border: 1px solid red;
    background-color: grey;
    margin: 5px;
  }

  .category-choice__three--unlit{
    border: 1px solid red;
    background-color: grey;
    margin: 5px;
  }

  .category-choice__four--unlit{
    border: 1px solid red;
    background-color: grey;
    margin: 5px;
  }
}

.category-choice-hidden {
  display: none;
}

#startButton_show {
  text-align: center;
}

.startButton_hide {
  display: none;
}

