* {
  box-sizing: border-box;
}

body {
  background-image: url("../Resources/phonebox-mobilesize.png");

  background-repeat: no-repeat;
}

.scoreboard {
  border: 2px solid purple;
  height: 50px;
  width: 345px;
  text-align: center;
  background-color: aliceblue;


  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.display {
  border: 2px solid black;
  height: 200px;
  width: 345px;
  text-align: center;
  background-color: aliceblue;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
}

.questionDisplay{
  display: flex;
  flex-direction: column;
  
}

.questionDisplay-hidden {
  display: none;
}

.category-choice {
  border: 2px solid green;
  height: 175px;
  width: 345px;
  text-align: center;
  background-color: aliceblue;

  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

  .category-choice__one{
    border: 1px solid black;
    background-color: yellow;
  }

  .category-choice__one--unlit{
    border: 1px solid red;
    background-color: grey;
  }

  .category-choice__two{
    border: 1px solid black;
    background-color: yellow;
  }

  .category-choice__two--unlit{
    border: 1px solid red;
    background-color: grey;
  }

  .category-choice__three{
    border: 1px solid black;
    background-color: yellow;
  }

  .category-choice__three--unlit{
    border: 1px solid red;
    background-color: grey;
  }

  .category-choice__four{
    border: 1px solid black;
    background-color: yellow;
  }

  .category-choice__four--unlit{
    border: 1px solid red;
    background-color: grey;
  }
}

.category-choice-hidden {
  display: none;
}

#startButton_show {
  text-align: center;
}

.startButton_hide {
  display: none;
}

